/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

img {
  border: 0px;
}

ul {
  list-style-type: none;
  padding-left: 40px;
}

main li {
  position: relative;
  &:before {
    content: ">";
    font-family: "glyph";
    font-size: 60%;
    position: absolute;
    top: .8ex;
    left: -20px;
    font-weight: bold;
    color: #3bb566;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
